@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*Reset"permite el control de los espacios que hay en cada uno de los titilos y parrafos y imagenes"*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*****************
Estilo pricipal de mi sitio
******************/
html, 
body{
  font-family:'montserrat', 'sans-serif';
  color: black;
}
.Redessociales{
	display: flex;
	justify-content: center;
	background-color: blueviolet;
	padding: 10px;
}

/****************
Estilos generales de cabezeras
***************/
h1{
	font-size: 1.5rem;
}
/****************
Estilos generales de parafos
***************/
p{
	font-size: 1 rem;
	margin: 10 px 0;
	line-height: 1,7;
	font-weight: 300;
}
/****************
Propiedad de textox
***************/
a{
	text-decoration: none;
}
/****************
utilizar clases
**************/
/*Para que nuestro proyectos pueda central como una caja*/
.contenedor{
	border: 1px solid black;
	background-color: #da7a7a;
	margin: auto;
	max-width: 1200px;
	overflow: auto;
	padding: 10px 50px;
}
/*Trabajar con texto tipo large*/
.large{
	font-size: 1.25rem;
}
/*dar estilos*/
.txt-Nombre{
	color:#e9ae75;
}
.tex-1{
	font-size: 4 ren;
	color: black;
}
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: aqua;
    padding: 1em;
    margin: 0 0 0.5 0;
    font-size: 1.2rem;
    border-radius: 3em;
	border-radius: 20px;
}
.btn:hover{
	background:blue ;
	color: #fff;

}

.btn1{
    background-color: #c67100;
    color: white;
}

.btn2{
    background-color: #ffa000;
    color: white;
}

.btn3{
    background-color: #ffd149;
    color: whitesmoke;
}
/****************
Empezar a trabajar por sección
**************/
/*General*/
#GENERAL{
	background:radial-gradient(at 10% 10px, #ca203d, rgb(37, 174, 87),rgb(17, 155, 88)) ;
	height: 100vh;
}
/*MENU*/
#menu{
	color: #fff;
	overflow: auto;
	padding-top: 40px;
	padding-bottom: 20px;
}
#menu ul{
	list-style: none;
	float: right;
}
#menu ul li{
	float: left;
	padding: 15px;
}
#menu ul li a {
	display: block;
	padding: 20px;
}
#menu ul li a:hover{
	color: black;
}
/*central */
#central {
	padding:50px 0;
}
.Fila2{
	display: flex;
}
.tex-1 p.large{
	padding-bottom: large ;
}
footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px ;
    color: none#ccc;
    clear: both;
}


/***************
Contactame
***************/
#contacto{
	border: 1px solid black;
	background-color: rgb(202, 146, 196);
	margin: 30px;
	padding: 15px;

}
#contacto h2{
	text-align:center ;
}
#contacto p{
	width: 500px;
	margin: 10px auto;
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #774ac9;
	border: 3px solid rgb(254, 49, 49);
	
}
.contacto1{
	display: flex;
	flex-wrap: wrap;
	background-color: #774ac9;
	border: 3px solid rgb(254, 49, 49);
	padding: 10px;
}
.contacto-img{
	border: 3px solid rgb(254, 49, 49);
	width: 50%;
}
.contacto-img img{
	display: flex;
	width: 75%;
	justify-content: flex-end;
	padding: 40px;
}
.contacto-img2{
	width: 50%;
	border: 1px solid #ca203d;
	border-radius: 80px;
	padding: 70px;
}
.contacto1 h4{
	padding: 0.5cm;
	text-align:center ;
}
v
.btn4{
	width: 50%;
}
/****************
VIDEOS DE MI CANAL
****************/

html, 
body{
  font-family:'montserrat', 'sans-serif';
  color: black;
}
#contenedor{
	display: block;
	flex-wrap: wrap;
	border: 1px solid black;
	background-color: #999999;
	width: auto;
    margin: 50px;
	padding: 20px;
}
.videos{
	text-align: center;
	background-color: #c67100;
}
#sub_conte{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 5px solid #3c0d94;
	background-color: #9d859f;
    margin: 10px 30px;
	padding: 50px;
}
.img-1{
	display: flex;
	flex-wrap: wrap;
	padding:30px;
}



/*****************
MIS HABILIDADES
*****************/

#conteiner{
	display: block;
	flex-wrap: wrap;
	border: 1px solid black;
	width: auto;
    margin: 70px;
}
#Habilidad{
	display: flex;
	justify-content: center;
	align-items: center;
    background: #2907c0;
	text-align: center;
    border: 1px solid #999999;
    padding: 30px;
	margin: 30px;
}
.Texto1{
		font-size: 50px;
		background-color: red;
		line-height: 70px;
}
#section{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-items: center;
	border: 5px solid #999999;
	background: green;
    margin: 10px;
}
.card{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 5px solid #999999;
	background-color: #c67100;
    margin: 20px 30px;
}
.img-card{
	display: flex;
	flex-wrap: wrap;
	justify-items: center;
	
}
.body-card{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	margin: 20px 30px;
}
.pie{
	display: flex;
	font-size: 500px;
	border: 5px solid #999999;
    margin: 20px;
}